<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<title>First App</title>
	<link rel="stylesheet" type="text/css" href= "{% static "css/first_app_style.css" %}">
</head>
<body>
	<h1>Here is some data form the DB</h1>
	<div class="djangotwo">
		{% if access_records %}
		<table>
			<thead>
				<th>Site Name</th>
				<th>Date Accessed</th>
			</thead>
			{% for acc in access_records %}
			<tr>
				<td>{{ acc.name }}</td>
				<td>{{ acc.date }}</td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<p>Bo Accessrecords found</p>
		{% endif %}
	</div>
</body>
</html>
