<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <!-- <h1>Here are all users</h1>
    <div class="allUsers">
      {% if users %}
      <ol>
        {% for person in users %}
        <li>User Info</li>
          <ul>
            <li>First Name: {{ person.first_name }}</li>
            <li>Last Name: {{ person.last_name }}</li>
            <li>Email: {{person.email }}</li>
          </ul>
          {% endfor %}
      </ol>
      {% endif %}
    </div> -->
    <div class="container">
      <h1>Fill out the form!</h1>
      <form method="POST">
        {{form.as_p}}
        {% csrf_token %}
        <input type="submit" name="btn btn-primary" value="Submit">
      </form>

    </div>

  </body>
</html>
